p{
    font-size: 200px;
    color: white; 
    letter-spacing: 50px;
    word-spacing: 100px;
    animation: changeColor 5s infinite;
}
@keyframes changeColor {
    0% {
      color: green; /* Color inicial */
    }
    50% {
      color: red; /* Color a la mitad de la animación */
    }
    100% {
      color: blue; /* Color al final de la animación */
    }
  }